# dependencies
node_modules

# environment
.env

# firebase 
.firebase
.runtimeconfig.json
firebase-debug.log
firestore-debug.log
ui-debug.log

# faucet
faucet.json

# logs
yarn-debug.log*
yarn-error.log*

# builds
build

# misc
.DS_Store

