# builds
build

# dependencies
node_modules

# environment
.env

# firebase 
.firebase
.runtimeconfig.json
firebase-debug.log
firestore-debug.log
ui-debug.log
.runtimeconfig.json

# faucet
faucet.json

# logs
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store

# pytezos
__pycache__
.pytest_cache
